/* GLOBAL STYLES 
================================== */
* {
  box-sizing: border-box;
}

/*
colors used:
primary color (blue): #4694AD;
secondary color (orange): #ECA00C;
tertiary colour (white): #FFFFFF;
*/

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: 'fira-sans', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-size: 1.6rem;
  color: #4a4a4a;
}

h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  margin-top: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

h2 {
  font-size: 3.6rem;
  font-weight: 700;
  margin-top: 0;
  text-align: center;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}

h4 {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
}

img {
  width: 100%;
  border-radius: 1em;
}

picture {
  line-height: 0;
}

a {
  color: #FFB638;
}

a:visited {
  /* visited link */
  color: #FFB638;
}

a:hover,
a:focus {
  color: #D3D3D3;
  text-decoration: none;
}

a:active {
  /* selected link */
  color: #D3D3D3;
  text-decoration: none;
}

.button {
  display: inline-block;
  background-color: #FFB638;
  color: #000;
  /* needed to override the default link color */
  font-weight: 400;
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 8px;
  border-bottom: 2px solid #C57101;
  /* width of the border, type, color */
  transition: 0.5s background-color;
}

.button:visited {
  background-color: #FFB638;
  color: #000;
}

.button:hover,
.button:focus {
  background-color: #C57101;
  color: #000;
}

.button:active {
  background-color: #FFB638;
  color: #000;
}

.button.button-contact {
  background-color: #fff;
  color: #FFB638;
  text-transform: uppercase;
  border: 3px solid #FFB638;
}

.button.button-contact:hover {
  background-color: #FFB638;
  color: #000;
}

/* HEADER
================================== */
header {
  background-color: #00346A;
  padding: 0.625em 0;
  text-align: center;
  position: fixed;
  box-shadow: 0px 4px 8px 0px #87ddf9;
  width: 100%;
}

/*change padding to 16?*/

main {
  padding-top: 128px;
}

.logo {
  max-width: 60px;
  display: inline-block;
  line-height: 0;
}

.about-picture {
  width: 100%;
  max-width: 100%;
  height: auto;
}

nav {
  margin-top: 1em;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 8px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  margin: 16rem 0;
}

nav>ul>li>a:visited {
  background-color: #FFB638;
  color: #fff;
}

nav>ul>li>a:hover,
nav>ul>li>a:focus {
  background-color: #00346A;
  color: #FFB638;
}

nav>ul>li>a:active {
  background-color: #00346A;
  color: #C57101;
}

nav a.active {
  color: #FFB638 !important;
  padding-bottom: 4px;
  border-bottom: 3px solid #FFB638;
}

.hero {
  background-color: #00346A;
  border-bottom: 3px solid #244b58;
  text-align: center;
  /* Centers text */
  color: #fff;
}

.hero span {
  display: block;
  margin-top: 0.5em;
  font-size: 70%;
}

/* CONTAINERS,ROWS AND COLUMNS
================================== */

.text-box {
  padding: 3rem 0;
}

section {
  padding: 2em 0 1em 0;
}

.container {
  padding: 0 0.625em;
}

.work .row {
  padding-bottom: 2em;
  border-bottom: 1px solid #02465d4d;
  margin-bottom: 2em;
}

.work .row:last-child {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0;
}

.image-box {
  display: flex;
}

.image-box.multi-img-box {
  overflow: scroll;
  align-items: flex-start;
}

.multi-img-box>img,
.multi-img-box>picture {
  min-width: 250px;
  margin-right: 1em;
}

.page-content>.container>.row>.column {
  padding: 2rem 0;
}

/* FOOTER
================================== */

footer {
  background-color: #00346A;
  text-align: center;
  padding: 3em 0 1em;
}

footer h2 {
  color: #fff;
}

footer p {
  color: #fff;
}

.socials {
  display: flex;
  margin-top: 24px;
  justify-content: center;
}

.socials .fa-brands {
  font-size: 3rem;
  padding: 9px;
  margin: 0 8px;
  color: #fff;
}

.socials .fa-brands:hover {
  color: #FFB638;
}

.copy {
  margin: 0.5em 0;
  font-size: 1.1rem;
}

/*Animation
============*/

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 30s cloud-move-reverse infinite alternate linear;
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 5s cloud-move infinite alternate linear;
}

/*Medium device (640px and larger
==================================*/

@media (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0;
    top: 0;
  }

  .container {
    padding: 0 1em;
  }

  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    margin: 0;
  }

  nav ul {
    margin: 0;
  }

  main {
    padding-top: 72px;
  }

  .work .row {
    display: flex;
    justify-content: space-between;
  }

  .work .column {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .row-list-content {
    display: flex;
    justify-content: space-around;
  }

  .about-page main,
  .project-page main {
    max-width: 60rem;
    margin: 11.3rem auto 3rem;
    padding: 3rem;
    background: #fff;
    border-radius: 1em;
    box-shadow: 5px 5px 26px 0px rgba(166,166,166,0.75);
-webkit-box-shadow: 5px 5px 26px 0px rgba(166,166,166,0.75);
-moz-box-shadow: 5px 5px 26px 0px rgba(166,166,166,0.75);
  }

  .about-page,
  .project-page {
    background: #e7e8eb;
  }

  .col-md-6 {
    width: 48%;
    background: #e7e8eb;
    padding: 3rem 2rem;
    border-radius: 1rem;
    text-align: center;
  }

  .col-md-6 ul {
    display: inline-block;
    padding: 0;
    list-style-type: none;
    text-align: center;
  }

}

/*Large devices (1024px or larger)
================================= */

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .about-page main,
  .project-page main {
    max-width: 100rem;
  }

  .text-box {
    max-width: 62.5rem;
    margin: 0 auto;
  }

  .text-box-header {
    max-width: 80rem;
  }
}

/*X-large devices (1440px or larger)
================================= */

@media only screen and (min-width: 1440px) {}

/*Extra-large devices (1920px or larger)
================================= */

@media only screen and (min-width: 1920px) {}

